<span style="display: inline-flex; align-items: center; justify-content: center; background-color: white; color: green; border-radius: 50%; width: 16px; height: 16px; font-size: 12px; margin-left: 5px;">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="green" viewBox="0 0 24 24" width="24px" height="24px">
        <path d="M12 0C5.383 0 0 5.383 0 12s5.383 12 12 12 12-5.383 12-12S18.617 0 12 0zm-1.2 18L5 11.2l1.4-1.4 4.4 4.4L17.6 7l1.4 1.4L10.8 18z" />
    </svg>
</span>
@code {

}
