<span style="display: inline-flex; align-items: center; justify-content: center; background-color: white; color: red; border-radius: 50%; width: 16px; height: 16px; font-size: 8px; margin-left: 5px;">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="red" viewBox="0 0 24 24" width="24px" height="24px">
        <path d="M12 0C5.383 0 0 5.383 0 12s5.383 12 12 12 12-5.383 12-12S18.617 0 12 0zm5.656 16.242l-1.414 1.414L12 13.414l-4.242 4.242-1.414-1.414L10.586 12l-4.242-4.242 1.414-1.414L12 10.586l4.242-4.242 1.414 1.414L13.414 12l4.242 4.242z" />
    </svg>
</span>
@code {

}
