@inject HttpClient Http;
@using template.Shared.Models.Game;
@using template.Shared.Models;

<Tooltip TooltipText="הגדרות משחק" ParentStyle="margin-right:auto;">
    <button class="GamesList__action__button" @onclick="OpenPopup">
        <img src=@ImageSrc alt="Settings" class="GamesList__action__icon" />
    </button>
</Tooltip>

<div class="confirm-popup-overlay" style="display: @(isPopupOpen ? "flex" : "none");">
    <div class="confirm-popup-container">
        <img src="/Icons/BgSmallPopUp.png" alt="Popup Background Image" style="width:100% !important;" />

        <button class="confirm-close-button" style="left:50px !important;" @onclick="ClosePopup">X</button>

        <div class="confirm-popup-content" style="margin-top:10px !important;">
            <div class="confirm-popup-text" style="margin-top:10px !important;">
                <h3 class="confirm-popup-title">הגדרות משחק</h3>
            </div>

            <EditForm Model="game" OnValidSubmit="SaveChanges">
                <DataAnnotationsValidator />


                <div style="display:flex;flex-direction:column;">
                    <label style="text-align:right;" for="gameName">שם המשחק:</label>
                    <CustomInputText @bind-Value="game.GameName" maxLength="40" midLength="35" minLength="2" placeholder="שם המשחק" style="margin-bottom:10px;" />
                    <ValidationMessage For="@(() => game.GameName)" class="error-message" style="color:white;" />
                </div>


                <div style="margin-top:10px;display:flex;flex-direction:column;align-items:flex-start;">
                    <label for="questionTime">זמן לכל שאלה:</label>
                    <select id="questionTime" @bind="game.QuestionTime" class="confirm-popup-select" style="width:100%;margin-bottom: 10px;">
                        <option value="30">30 שניות</option>
                        <option value="60">60 שניות</option>
                        <option value="90">90 שניות</option>
                        <option value="0">ללא הגבלה</option>
                    </select>
                </div>

                <button type="submit" class="confirm-confirm-button" style="margin-bottom:20px;">שמירת שינויים</button>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public GameTable game { get; set; } = new GameTable();

    [Parameter]
    public EventCallback OnGameUpdated { get; set; }

    [Parameter]
    public Action<ToastMessage> OnShowToast { get; set; }

    [Parameter]
    public string ImageSrc { get; set; }

    private bool isPopupOpen = false;

    private void OpenPopup()
    {
        isPopupOpen = true;
    }

    private void ClosePopup()
    {
        isPopupOpen = false;
    }

    private async Task SaveChanges()
    {
        await UpdateGame(game);
        ClosePopup();
    }

    private async Task UpdateGame(GameTable game)
    {
        var updateGameResponse = await Http.PostAsJsonAsync("api/Table/updateGameSettings", game);

        if (updateGameResponse.IsSuccessStatusCode)
        {
            if (OnGameUpdated.HasDelegate)
            {
                await OnGameUpdated.InvokeAsync();
            }

            OnShowToast?.Invoke(new ToastMessage { Message = "המשחק עודכן בהצלחה", Type = "success" });
        }
        else
        {
            string error = await updateGameResponse.Content.ReadAsStringAsync();
            OnShowToast?.Invoke(new ToastMessage { Message = "שגיאה בעדכון המשחק: " + error, Type = "error" });
        }
    }
}
