<nav>
    <div class='nav__links__container'>
        <div>
            <a class="nav__links__item" href="#">משחק</a>
        </div>
        <div>
            <a class="nav__links__item" href="GamesList">עורך</a>
        </div>
        <div>
            <a class="nav__links__item" href="javascript:void(0);" @onclick="ShowHowToPlayPopup">איך משחקים?</a>
        </div>
        <div>
            <a class="nav__links__item" style="cursor: pointer;" @onclick="ShowAboutPopup">אודות</a>
        </div>


    </div>

    <div id="nav__logo__continer">
        <img src="/Icons/Logo.png" alt="Logo" />
        <span id="nav__title">אלוף הסלים</span>
    </div>
</nav>

@if (isHowToPlayPopupVisible)
{
                 <PopupContainer 
                    OnClose="HideHowToPlayPopup" >
                        <Body>
            <div style="display:flex; justify-content:center; flex-direction:row-reverse;">
                <img src="Icons/Shoula.png" alt="howtoplay-keyboard" />
                <div style="display:flex;justify-content:center;flex-direction:column;">
                    <h2>איך משחקים?</h2>
                    <br />

                    <div style="text-align:right">
                        הזיזו את השחקנית באמצעות החצים וקלעו את התשובה הנכונה לסל באמצעות הרווח.
                    </div>
                    <div style="display:flex;">
                        <img src="Icons/HowToPlayKeyBord.png" alt="howtoplay-keyboard" style="width:35%" />
                        <img src="Icons/HowToPlaySpace.png" alt="howtoplay-space" style="width:35%" />
                    </div>
                    <br />

                    <div style="text-align:right;margin-top:5px;">
                        <img src="Icons/HowToPlayPause.png" alt="howtoplay-pause" style="width:24px ; height:26px" />
                        <span>על מנת להשעות את המשחק ולצאת להפסקת מחצית, נלחץ על כפתור העצור</span>
                    </div>
                                        <br />
                    <div style="text-align:right;margin-top:5px;">
                        <span>על מנת לכבות את מוזיקת הרקע נלחץ על כפתור הרמקול</span>
                    </div>
                </div>
                            </div>
                        </Body>
                    </PopupContainer>
}

@if (isAboutPopupVisible)
{
    <PopupContainer Title="אודות"
                    OnClose="HideAboutPopup">
        <Body>
            <div>
                <div>

                    אופיין ופותח על ידי: עמית מזרחי, עדי שטח ויובל לרמן
                </div>

                <div style="margin-top:10px">
                    <div>
                        פותח במסגרת פרוייקט בקורסים:
                    </div>
                    <div>
                        סביבות לימוד אינטראקטיביות 1, 2 + תכנות אינטראקציה ואנימציה 1,2 + תכנות 2
                    </div>
                    <div style="margin-top:5px;">
                        תשפ"ד
                    </div>

                </div>
                <div style="background-color:white;width:70%;padding:5px;margin:auto">
                    <img src="Icons/Hit.png" alt="hit-logo" style="width:70%" />
                </div>
                <div style="margin-top:3px">
                    <a href="https://www.hit.ac.il/" style="color:white;">הפקולטה לטכנולוגיות למידה</a>
                </div>
            </div>
        </Body>
    </PopupContainer>
}

@code {
    private bool isHowToPlayPopupVisible = false;
    private bool isAboutPopupVisible = false;

    private void ShowHowToPlayPopup()
    {
        isHowToPlayPopupVisible = true;
    }

    private void HideHowToPlayPopup()
    {
        isHowToPlayPopupVisible = false;
    }

    private void ShowAboutPopup()
    {
        isAboutPopupVisible = true;
    }

    private void HideAboutPopup()
    {
        isAboutPopupVisible = false;
    }
}
